<p id="notice"><%= notice %></p>

<h2>Requester Information</h2>
<p>
  <strong>Company Name:</strong>
  <%= @requester.company_name %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @requester.cnpj %>
</p>

<p>
  <strong>Address:</strong>
  <%= @requester.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @requester.phone %>
</p>

<br/>
<div id="credit_requests_wrapper">
 <%= render @requester.credit_requests %>
 <div id="form">
  <br/>
  <%= render "credit_requests/form" %>
 </div>
</div>

<%= link_to 'Edit', edit_requester_path(@requester) %> |
<%= link_to 'Back', requesters_path %>